<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="CoreWebTarget" sequenceNumber="140">
<locations>
<location path="/home/murphy/localp2/test" type="Directory"/>
</locations>
</target>
